# Примечание
# requirements.txt остортирован по алфавиту для удобного управления библиотеками
# Просьба не нарушать это правило. 
# Ня)
asyncio
asyncpg==0.27.0
bcrypt==4.0.1
fastapi==0.95.0
httpx
jinja2==3.1.2
python-jose[cryptography]==3.3.0
passlib==1.7.4
psycopg2-binary==2.9.5 
pydantic[email]==1.10.7
python-dotenv==1.0.0
python-multipart==0.0.6
sqlalchemy==2.0.10
uvicorn==0.22.0
